src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
	<flow name="notes_app-api-main">
        <http:listener config-ref="notes_app-api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="notes_app-api-config" doc:id="5bcd66ef-30d3-4790-9966-afc35b2c8502"/>
        <error-handler ref="global-error-handlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="notes_app-api-console">
        <http:listener config-ref="notes_app-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="notes_app-api-config" doc:id="f82b24c3-ef81-4cf1-b20a-61f1d8237e6c" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\notes\(noteid):notes_app-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="786705ca-2477-4395-ae61-94301cdd392c" name="put_note_id"/>
    </flow>
    <flow name="delete:\notes\(noteid):notes_app-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="d5a9e67d-c2fe-4e3d-a574-d4a04dbdf247" name="delete_by_noteid"/>
    </flow>
    <flow name="get:\notes:notes_app-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="1c8d90da-071e-4865-bff3-6ba06ca522ea" name="select_notes"/>
    </flow>
    <flow name="get:\notes\(noteid):notes_app-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="11d392ae-6f87-406a-9f50-8a2de08c54ff" name="get_by_noteid"/>
    </flow>
    <flow name="post:\notes:application\json:notes_app-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="0bee39e8-4b5c-48fe-88cb-b9aa30ee3245" name="post_notes"/>
    </flow>
</mule>
